# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/Community-Service/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/Community-Service/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/Community-Service/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/Community-Service/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/Community-Service/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/Community-Service/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/Community-Service/FileContentIndex/575a9b9c-883b-479b-ba08-0c5207064d87.vsidx
.vs/Community-Service/FileContentIndex/8eabb0b3-3358-423b-a25f-4ebbe477e5fc.vsidx
.vs/Community-Service/FileContentIndex/a26f86fe-4f66-4e9d-9c6d-3a94a52eefc1.vsidx
.vs/Community-Service/FileContentIndex/a775c422-ae3b-4223-b3c8-bafd28c482df.vsidx
.vs/Community-Service/FileContentIndex/ad4b935a-90c5-4819-b62d-af79a771f913.vsidx
.vs/Community-Service/FileContentIndex/f0fcae1b-95a3-4920-8078-a90598db7462.vsidx
.vs/Community-Service/v17/.wsuo
.vs/Community-Service/FileContentIndex/a775c422-ae3b-4223-b3c8-bafd28c482df.vsidx
.vs/Community-Service/v17/.wsuo
.vs/Community-Service/FileContentIndex/99b49816-2756-4c66-9499-ba69f10fe002.vsidx
.vs/Community-Service/FileContentIndex/fb4dd2fb-4868-4d68-bc74-c6a7c804ec67.vsidx
.vs/slnx.sqlite
.vs/Community-Service/FileContentIndex/28a561b0-a244-4299-b7f1-064b040957c4.vsidx
.vs/slnx.sqlite
.vs/Community-Service/FileContentIndex/220ed7ab-7dff-4650-abea-044c16bb3602.vsidx
.vs/Community-Service/FileContentIndex/a117ee36-ad7c-4d00-83f5-b996297e85a8.vsidx
.vs/slnx.sqlite
.vs/Community-Service/FileContentIndex/676152a0-c221-49e7-83f9-673ce31f1d12.vsidx
*.vsidx
*.sqlite
*.sqlite
.vs/slnx.sqlite
.vs/Community-Service/CopilotIndices/17.14.786.1071/SemanticSymbols.db-wal
.vs/Community-Service/CopilotIndices/17.14.786.1071/SemanticSymbols.db-shm
.vs/Community-Service/CopilotIndices/17.14.786.1071/SemanticSymbols.db
.vs/Community-Service/CopilotIndices/17.14.786.1071/CodeChunks.db-wal
.vs/Community-Service/CopilotIndices/17.14.786.1071/CodeChunks.db-shm
.vs/Community-Service/CopilotIndices/17.14.786.1071/CodeChunks.db
.vs/slnx.sqlite
