/* src\pages\Showcase\components\CharactersSection\CharactersSection.css */
.character-section {
    .ant-card-body {
        padding: 4px !important;
    }
    
    .ant-card-cover {
        width: 240px;
    }

    .character-card-name {
        font-weight: bold;
        white-space: normal;
        display: flex;
        justify-content: center;
    }

    .character-card {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }

    .character-modal {
        width: 80%;
        height: 70%;
    }
}