.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.w-100pct {
    width: 100%;
}

.gap-8px {
    gap: 8px;
}

.flex-center {
    display: flex;
    justify-content: center;
}